body { padding-top: 70px; font-family: 'Fira Mono', sans-serif; font-size: 22px; line-height: 1.8; }
a { color: #ff4245; text-decoration: underline; }

.navbar { backgorund-color: #FFF; }
.navbar-nav { background-color: white; border: 0; font-size: 14px;}
.navbar-brand { background-color: #FFF; }
.navbar-header { background-color: #FFF; }
.navbar-collapse { background-color: #FFF; }
.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover { color: #ff4245; text-decoration: underline; }
.navbar-toggle { background-color: #ff4245; }
.navbar-toggle .icon-bar { background-color: #333; }
h1, h2, h3, h4, h5, h6 { font-size: 22px; }

h2 { font-weight: bold; text-transform: uppercase; }
h3 { font-weight: bold; padding-top: 1em; }
h4 { font-weight: bold; line-height: 1.8;}
h4 span.position { font-size: 22px; font-weight: normal; background: #ffff00; }
h5 {  }

p, div {  }

body>section { margin-bottom: 3em; }

.home { width: 100%; margin: 0; padding: 0; }
.home .wrapper { position: relative; padding: 2em 0; color: #FFF; }
.home .intro { position: absolute; top: 2em; left: 2em; z-index: 1001;}
.home h1 {  font-size: 22px; font-weight: normal; line-height: 2.4em; }
.home h2 { font-size: 18px; font-weight: normal; color: #cccccc; text-transform: none; line-height: 1.8em; }
.home figure { position: absolute; top: 0px; left: 0px; z-index: 999; }
.home figure img { width: 100% }
.home figure figcaption { background-color: #050505; padding: 10px; font-size: 15px; text-align: right; }
.home figure figcaption .photoCredit {  }
.home figure figcaption .workCredit { color: #cccccc; }

section#workHistory h4 { padding-top: 1em; }
section#workHistory h5 { display: inline; font-weight: bold; line-height: 1.2em}


/* small (phones, phablets, 320px and up) */
@media (min-width: 320px) and (max-width: 550px) {
    .container { width: 100%; }
    .intro { top: .5em; left: 1.5em; }
    .home h1 { font-size: .8em; }
    .home h2 { font-size: .6em; line-height: 1.6em;}

}

/* sm & md (tablets, 550px and up) */
@media (min-width: 551px) and (max-width: 768px) {
    .container { width: 100%; }
    .home h1 { font-size: 1em; }
    .home h2 { font-size: .8em; line-height: 1.6em;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 1199px) {
    .container {  width: 100%;  }
    .home h1 { font-size: 1.2em;}
    .home h2 { font-size: 1em; line-height: 1.6em; }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {  width: 100%;  }
}