body { padding-top: 70px; font-family: 'Fira Mono', sans-serif; font-size: 22px; line-height: 1.8; }
a { color: #ff4245; text-decoration: underline; }

.navbar { backgorund-color: #FFF; }
.navbar-nav { background-color: white; border: 0; font-size: 14px;}
.navbar-brand { background-color: #FFF; }
.navbar-header { background-color: #FFF; }
.navbar-collapse { background-color: #FFF; }
.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover { color: #ff4245; text-decoration: underline; }
.navbar-toggle { background-color: #ff4245; }
.navbar-toggle .icon-bar { background-color: #333; }
h1, h2, h3, h4, h5, h6 { font-size: 22px; }

h2 { font-weight: bold; text-transform: uppercase; }
h3 { font-weight: bold; padding-top: 1em; }
h4 { font-weight: bold; line-height: 1.8;}
h4 span.position { font-size: 22px; font-weight: normal; background: #ffff00; }
h5 {  }

p, div {  }

body>section { margin-bottom: 3em; }

section#home { padding: 0;  color: white; background: #050505; }
section#home #homeIntro {  }
section#home #homeIntro div { padding-left: 3%; padding-top: 3%; }
section#home #homeIntro div.danielTalsky {  }
section#home #homeIntro div.beautifulSoftware { color: #cccccc; }
section#home figure img { width: 100% }
section#home figure figcaption { padding: 10px;  margin-right: 20px; font-size: 15px; text-align: right; }
section#home figure figcaption .photoCredit {  }
section#home figure figcaption .workCredit { color: #cccccc; }

section#workHistory h4 { padding-top: 1em; }
section#workHistory h5 { display: inline; font-weight: bold; }

section#skills strong {  }

/* Small devices (tablets, 768px and up) */
@media (min-width: 320px) and (max-width: 768px) {
    .container { width: 100%; }
    .danielTalsky { font-size: .8em; }
    .beautifulSoftware { font-size: .6em;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 1199px) {
    .container {  width: 100%;  }
    .danielTalsky { font-size: .8em; }
    .beautifulSoftware { font-size: 1em;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {  width: 100%;  }
}